.todo-item {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 30px;
    border-bottom: 2px solid;
    margin-top: 30px;
}


span.todo-text {
    transition: opacity 0.25s ease-in-out;
}
.deletetrash {
    margin-left: auto;
    color: grey;
    display: none;
}
.deletetrash{
    display: block;
}

.boton {
    background-color: aquamarine;
    padding-top: 15px;
    padding-bottom: 15px;
}